$white-color: #FFFFFF;
$dark-color: rgba(105, 120, 123, 0.56);
$primary-color: rgba(60, 164, 170, 1);
$secondary-color: rgba(200, 151, 56, 1);
$disable-color: #AAAAAA;
$grey-font: rgba(140, 140, 140, 1);

// BASIC

.container {
  padding-inline: 10%;
  margin-inline: auto;
}

@mixin reset-font {
  margin: 0;
  padding: 0;
}

@mixin font-18 {
  font-size: 18px;
  @include reset-font;
}

@mixin font-56 {
  font-size: 56px;
  @include reset-font;
}

.btn {
  @include font-18;
  width: fit-content;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-primary {
  background-color: $primary-color;
  box-shadow: 0px 7.50947px 37.2px 4px rgba(0, 79, 84, 0.68);
}

.btn-dark {
  background-color: $dark-color;
}

.btn-secondary {
  color: $white-color;
  background: $secondary-color;
  box-shadow: 0px 7.50947px 37.2px 4px rgba(231, 231, 231, 0.99);
  border-radius: 11px;
  padding: 12px 30px;
}

// CUSTOM
body > header {
  background: 
    linear-gradient(
      rgba(67, 87, 91, 0.54),
      rgba(68, 86, 89, 0.04),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient( 
      rgba(67, 87, 91, 0.9),
      rgba(68, 86, 89, 0.77),
      rgba(70, 83, 86, 0.51),
      rgba(255, 255, 255, 0)
    ),
    url('../../public/assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $white-color;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.813rem;
    
    .navbar-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 3.125rem;

      .lang {
        padding: 6px 15px;
        border: 1px solid $disable-color;
        border-radius: 18px;
        .disabled {
          color: $disable-color;
        }
      }
    }
  }

  .hero {
    height: 85vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-1, .text-3 {
      @include font-18;
    }

    .text-2 {
      @include font-56;
    }
  }
}

.btn-group-social {
  display: flex;
  margin-top: 27px;
  gap: 21px;
  .btn-social {
    color: $white-color;
    font-weight: 600;
    line-height: 23px;
    border-radius: 10px;
  }
}

main > section {
  padding-block: 100px;
  
  .body {
    padding-top: 60px;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    h2 {
      @include reset-font;
      color: $primary-color;
      font-size: 35px;
      font-weight: 700;
    }
    p {
      @include reset-font;
      color: $secondary-color;
      font-size: 40px;
      line-height: 63px;
      letter-spacing: -0.02em;
    }
  }
}

// ABOUT US
.about-us {
  background: #F5FAFA;

  .body {
    display: flex;
    align-items: center;

    p {
      color: $grey-font;
      font-family: 'Poppins';
      font-style: normal;
      text-align: justify;
      font-weight: 400;
      font-size: 21px;
      line-height: 37px;
    }
  }
}

.service {
  .body {
    display: flex;
    justify-content: center;
    gap: 25px;

    article {
      width: 280px;
      background: #FFFFFF;
      box-shadow: 0px 4px 28px 2px rgba(157, 139, 139, 0.25);
      border-radius: 4px;

      .body {
        display: block;
        padding: 18px;
      }
      
      img {
        border-radius: 4px 4px 0 0;
        width: 100%;
      }

      h3 {
        @include reset-font;
        font-weight: 500;
        font-size: 19px;
      }

      p {
        color: rgba(173, 184, 185, 1);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }

      a {
        display: flex;
        color: $secondary-color;

        span img {
          width: 24px;
        }
      }
    }
  }
}

.browse-our-service {
  background: #F5FAFA;
  display: flex;
  gap: 50px;

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    @include reset-font;
    color: $primary-color;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #848179;
  }

  .img-side {
    width: 634px;
  }
}

.hole-spaces {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @include reset-font;
      color: $primary-color;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
      color: rgba(183, 184, 184, 1);
    }
  }

  .body {
    display: flex;
    justify-content: center;
    gap: 40px;

    article {
      // background: 
      //   linear-gradient(179.94deg, rgba(255, 255, 255, 0) 0.05%, rgba(255, 255, 255, 0.7) 99.95%),
      //   url('../../public/assets/service-1.png');
      position: relative;
      
      img {
        border-radius: 20px;
      }
      .body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        padding: 16px 32px 16px 18px;
        margin: 16px;
        font-weight: 600;

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        h3 {
          @include reset-font;
          color: $secondary-color;
          font-size: 24px;
          line-height: 28px;
        }

        .right div {
          display: flex;
          justify-content: space-between;
          gap: 10px;

          & :nth-child(1) {
            color: $primary-color;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .paging-group {
      display: flex;
      align-items: center;
      gap: 18px;
      
      .circle {
        width: 14.44px;
        height: 14.44px;  
        background-color: rgba(232, 232, 232, 1);
        border-radius: 100%;

        &:nth-child(2) { background-color: $secondary-color; }
      }
    }

    .btn-group {
      display: flex;
      gap: 20px;

      .btn-secondary {
        padding: 10px;
        border-radius: 20px;
      }
    }
  }
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $secondary-color;
  padding-block: 61px;
  color: $white-color;
  
  h1 {
    @include reset-font;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  p {
    @include reset-font;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 15px;
  }
}