.container {
  padding-inline: 10%;
  margin-inline: auto;
}

.btn {
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding: 12px 20px;
}

.btn-primary {
  background-color: rgb(60, 164, 170);
  box-shadow: 0px 7.50947px 37.2px 4px rgba(0, 79, 84, 0.68);
}

.btn-dark {
  background-color: rgba(105, 120, 123, 0.56);
}

.header {
  background: linear-gradient(rgba(67, 87, 91, 0.54), rgba(68, 86, 89, 0.04), rgba(255, 255, 255, 0)), linear-gradient(rgba(67, 87, 91, 0.9), rgba(68, 86, 89, 0.77), rgba(70, 83, 86, 0.51), rgba(255, 255, 255, 0)), url(/images/hero.png?f85e8403b14c62b542085c1c18e9fc1c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.813rem;
}

.header nav .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.header nav .navbar-nav .lang {
  padding: 6px 15px;
  border: 1px solid #AAAAAA;
  border-radius: 18px;
}

.header nav .navbar-nav .lang .disabled {
  color: #AAAAAA;
}

.header .hero {
  height: 85vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .hero .text-1,
.header .hero .text-3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header .hero .text-2 {
  font-size: 56px;
  margin: 0;
  padding: 0;
}

.btn-group-social {
  display: flex;
  margin-top: 27px;
  gap: 21px;
}

.btn-group-social .btn-social {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 23px;
  border-radius: 10px;
}

