.container {
  padding-inline: 10%;
  margin-inline: auto;
}

.btn {
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-primary {
  background-color: rgb(60, 164, 170);
  box-shadow: 0px 7.50947px 37.2px 4px rgba(0, 79, 84, 0.68);
}

.btn-dark {
  background-color: rgba(105, 120, 123, 0.56);
}

.btn-secondary {
  color: #FFFFFF;
  background: rgb(200, 151, 56);
  box-shadow: 0px 7.50947px 37.2px 4px rgba(231, 231, 231, 0.99);
  border-radius: 11px;
}

.header {
  background: linear-gradient(rgba(67, 87, 91, 0.54), rgba(68, 86, 89, 0.04), rgba(255, 255, 255, 0)), linear-gradient(rgba(67, 87, 91, 0.9), rgba(68, 86, 89, 0.77), rgba(70, 83, 86, 0.51), rgba(255, 255, 255, 0)), url(/images/hero.png?f85e8403b14c62b542085c1c18e9fc1c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.813rem;
}

.header nav .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.header nav .navbar-nav .lang {
  padding: 6px 15px;
  border: 1px solid #AAAAAA;
  border-radius: 18px;
}

.header nav .navbar-nav .lang .disabled {
  color: #AAAAAA;
}

.header .hero {
  height: 85vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .hero .text-1,
.header .hero .text-3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header .hero .text-2 {
  font-size: 56px;
  margin: 0;
  padding: 0;
}

.btn-group-social {
  display: flex;
  margin-top: 27px;
  gap: 21px;
}

.btn-group-social .btn-social {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 23px;
  border-radius: 10px;
}

main > section {
  padding-block: 100px;
}

main > section .body {
  padding-top: 60px;
}

main > section .title {
  text-align: center;
  text-transform: uppercase;
}

main > section .title h2 {
  margin: 0;
  padding: 0;
  color: rgb(60, 164, 170);
  font-size: 35px;
  font-weight: 700;
}

main > section .title p {
  margin: 0;
  padding: 0;
  color: rgb(200, 151, 56);
  font-size: 40px;
  line-height: 63px;
  letter-spacing: -0.02em;
}

.about-us {
  background: #F5FAFA;
}

.about-us .body {
  display: flex;
  align-items: center;
}

.about-us .body p {
  color: rgb(140, 140, 140);
  font-family: "Poppins";
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  font-size: 21px;
  line-height: 37px;
}

.service .body {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.service .body article {
  width: 280px;
  background: #FFFFFF;
  box-shadow: 0px 4px 28px 2px rgba(157, 139, 139, 0.25);
  border-radius: 4px;
}

.service .body article .body {
  display: block;
  padding: 18px;
}

.service .body article img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.service .body article h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 19px;
}

.service .body article p {
  color: rgb(173, 184, 185);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.service .body article a {
  display: flex;
  color: rgb(200, 151, 56);
}

.service .body article a span img {
  width: 24px;
}

.browse-our-service {
  background: #F5FAFA;
  display: flex;
  gap: 50px;
}

.browse-our-service .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.browse-our-service h2 {
  margin: 0;
  padding: 0;
  color: rgb(60, 164, 170);
  font-size: 30px;
  font-weight: 700;
}

.browse-our-service p {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: #848179;
}

.browse-our-service .img-side {
  width: 634px;
}

